	/*弹窗相关*/
	.window-plugin-background{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: .3;
		filter: alpha(opacity=30); /*IE浏览器*/
		z-index: 1000;
		display: none;
	}
	.modal-background-show{
		animation: modal_background_show .2s  ease-in-out;
	}

	.window-plugin-dialog{
		position: fixed;
		z-index: 1001;
		display: none;
		background-color: #ffffff;
	}


	.window-plugin-closer{
		position: absolute;
		width:36px;
		height: 36px;
		top: 15px;
		right: 15px;
		cursor: pointer;
		background-image: url('images/closer.png');
		background-position: center center;
		background-repeat: no-repeat;
	}

	/*弹窗结束*/

	/**交互*/
	/*toast*/
	.show-msg-modal{ background-color:rgba(255,255,255,0); position: fixed;top:0;left:0;width: 100%;height: 100%;}
	.show-msg-dialog{position: fixed;max-width: 200px;max-height: 200px; border-radius: 5px;background: #000;background-color: rgba(0,0,0,0.7);}
	.content-text{color: #fff;padding: 10px 20px;word-wrap: break-word;}
	.show-msg-loading-icon{width: 100%; position: absolute;text-align: center;}
	.show-msg-loading-icon>.loading-item{animation: loading-fade 1s linear infinite; -webkit-animation: loading-fade 1s linear infinite;  width: 2px;height: 25px;background: #fff;display: inline-block;position: absolute}
	.content-text-icon{bottom: 15px;position: absolute; padding: 0 10px; width: calc(100% - 20px);-webkit-width: calc(100% - 20px); text-align: center;color: #fff;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.show-msg-loading-content{width: 100%;position: absolute;}

	/*动画*/
	.modal-dialog-show{
		animation: modal_dialog_show  .2s    ease-in-out;
	}

	.modal-background-hide{
		animation: modal_background_hide .2s ease-in-out;
		animation-fill-mode: both; 
	}

	.modal-dialog-hide{
		animation: modal_dialog_hide .2s ease-in-out;
		animation-fill-mode: both;
	}

	@keyframes  modal_dialog_show{
		0%  {transform: scale(.5,.5);opacity:0;}
		100% {transform: scale(1,1);opacity: 1}
	}

	@keyframes  modal_background_show{
		0%  {opacity:0;}
		100% {opacity: .3}
	}

	@keyframes  modal_dialog_hide{
		0%  {transform: scale(1,1);opacity:1;}
		100% {transform: scale(.5,.5);opacity: 0}
	}

	@keyframes  modal_background_hide{
		0%  {opacity:.3;}
		100% {opacity: 0}
	}

	@-webkit-keyframes loading-fade{
		from {opacity: 1;}
		to {opacity: 0.25;}
	}
	@keyframes loading-fade{
		from {opacity: 1;}
		to {opacity: 0.25;}

	}
