* {margin: 0;padding: 0;-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 1.42857143;color: #3D3D3D;}
a {text-decoration: none;}
.floatR{float: right;}
.flex{display: flex;}
 input,textarea,select,a:focus {outline: none;}
 
 .color-gre {color: #3399ea;}
.hidden{display: none};
.hiddenforce{display: none !important;}