<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- 加载所有的配置文件 -->
	<context:property-placeholder location="classpath:properties/*.properties" />

	<!-- 这个过滤器一定不能配在spring-mvc的spring文件中 -->
	<bean id="
			requestFilter " class="com.ajie.web.RequestFilter">
		<property name="userService" ref="remoteUserService" />
		<property name="encoding" value="utf-8" />
		<property name="mode" value="intercept" />
		<property name="uriList">
			<list>
				<value>/user/*</value>
			</list>
		</property>
		<property name="ssoHost" value="${sso-host}" />
	</bean>

	<!-- 用户模块远程支持 -->
	<bean id="remoteUserService" name="remoteUserService"
		class="com.ajie.sso.user.impl.RemoteUserServiceImpl">
		<constructor-arg index="0" value="http://localhost:8081/" />
	</bean>

	<!-- 用户默认头像路径 -->
	<bean class="java.lang.String" id="userDefalutHeader">
		<constructor-arg index="0" value="${defalut-user-header}" />
	</bean>


	<!-- 导航管理 -->
	<!-- <bean id="navigatorMgr" class="com.ajie.sso.navigator.impl.NavigatorMgrImpl"> 
		<property name="xmlFile" value="navigator.xml" /> </bean> -->

	<context:component-scan base-package="com.ajie.sso.user" />
	<!-- <context:component-scan base-package="com.ajie.sso.navigator" /> -->
	<context:annotation-config />
	<!-- 用户服务 -->
	<!-- <bean id="userService" class="com.ajie.sso.user.impl.UserServiceImpl"> 
		<property name="navigatorService" ref="navigatorMgr" /> <property name="rolesData" 
		value="role.xml" /> <property name="xmlUsersData" value="user.xml" /> </bean> -->




</beans>